<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoRCycfnfJUYywT3eqgdb1FxsLfbQeuyE</string>
	<key>GCM_SENDER_ID</key>
	<string>239765368515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabriellarthur.wishlist.app.wishlist</string>
	<key>PROJECT_ID</key>
	<string>wishlist-987ee</string>
	<key>STORAGE_BUCKET</key>
	<string>wishlist-987ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239765368515:ios:71eba96e6a862c29b87c76</string>
</dict>
</plist>